<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/sendMessage.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/fetchMessages.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
</head>
<body>
    <div id="chat">
        <div id="messages"></div>
        <div style="display: flex;">
            <input type="text" id="message" placeholder="Type a message">
            <button id="sendButton"><i class="fas fa-paper-plane"></i> Send</button>
        </div>
    </div>
</body>
</html>
